<div data-role="page"> 
	<div data-role="header">
		<a href="{{ path('settings') }}" data-icon="gear" class="ui-btn-right">Einst.</a>
		<h1>Frostlog</h1>
		<a href="{{ path('stock_new') }}" data-icon="plus" class="ui-btn-left">einl.</a>
	</div>
	<div data-role="content">
        <ul data-role="listview">
            {% for item in entities %}
			<li><a href="{{ path('productstock', {id: item.product.id }) }}">
                {{ item.product }} 
                <p style="display: inline;"> {{ item.age }} Tage</p>
                <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">{{ item.count }} Stk / {{ item.quantity }} Prot.</span>
            </a></li>
            {% endfor %}
		</ul>
	</div>
</div> 
