<div data-role="page"> 
	<div data-role="header">
		<a href="{{ path('product') }}" data-icon="arrow-l" data-direction="reverse">Produkte</a>
		<h1>{{ entity.name }}</h1>
		<a href="{{ path('product_edit', {'id': entity.id}) }}" data-icon="gear">bearbeiten</a>
	</div>
	<div data-role="content">
        <p>{{ entity.name }}</p>
        <p>{{ entity.description }}</p>
	</div>
</div>
