<div data-role="page"> 
    <div data-role="header">
		<a href="{{ path('productstock', {'id': entity.product.id}) }}" data-icon="arrow-l" data-direction="reverse">zurück</a>
		<h1>{{ entity.product }}</h1>
		<a href="{{ path('stock_edit', {'id': entity.id}) }}" data-icon="gear">bearbeiten</a>
	</div>
	<div data-role="content">
	    <p>{{ entity.product }} wurde am {{ entity.arrival|date('d.m.Y') }} (vor {{ entity.age }}) Tagen eingelagert.</p>
        <p>Portionsgröße: {{ entity.quantity }}</p>
        {% if entity.storage %}
        <p>Lagerort: {{ entity.storage }}</p>
        {% endif %}
        <a href="{{ path('stock_unload', {id: entity.id}) }}" data-role="button">entnehmen</a>
	</div>
</div>
